# FastAPI & Server
fastapi==0.115.0
uvicorn==0.30.6
python-multipart==0.0.9

# Database
motor==3.5.1
pymongo==4.8.0
certifi

# Authentication
passlib[bcrypt]==1.7.4
python-jose[cryptography]==3.3.0
bcrypt==4.1.3

# CORS
pydantic==2.8.2
pydantic-settings==2.4.0

# Environment
python-dotenv==1.0.1
